<ion-header-bar class="bar-dark">
    <button class="button button-icon icon ion-android-add pull-right" ng-click="modalNota.show()"></button>
</ion-header-bar>

<ion-content>
<!-- Inicio de la lista -->
    <div class="list">
        <!-- Elemento de la lista -->
        <div class="item">
            <label class="contCheck">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>
            <h2 id="txtcheck">One</h2>
            <h3 id="datecheck">23/05/2013</h3>
        </div>
        
        <div class="item">
            <label class="contCheck">
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
            </label>
            <h2 id="txtcheck">One</h2>
            <h3 id="datecheck">23/05/2013</h3>
        </div>
    </div> 
</ion-content>